.timeline-slider {
    -webkit-appearance: none;
    appearance: none;
    height: 112px; 
    padding: 10px 0 0 0; 
    gap: 10px; 
    border-style: solid;
    border-color: black;
    border-width: 2px 4px;
    border-radius: 6px;
    background: url('../../public/marker.svg') no-repeat center;
    background-size: cover;
}


.timeline-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 2px;
    height: 132px;
    background: #EF4444;
    cursor: pointer;
}

.timeline-slider::-moz-range-thumb {
    width: 2px;
    height: 132px;
    background: #EF4444;
    cursor: pointer;
}

.timeline-slider::-ms-thumb {
    width: 2px;
    height: 132px;
    background: #EF4444;
    cursor: pointer;
}
